/* Global Styles */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

/* Auth Background Container */
.auth-background-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.auth-background-container::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/kitchenbackground.jpg');
  background-size: cover;
  opacity: 0.55; /* Adjust the opacity value as needed */
  z-index: -1; /* Move the pseudo-element below the content */
}

.dashboard-background-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.dashboard-background-container::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/kitchenbackground.jpg');
  background-size: cover;
  opacity: 0.55; /* Adjust the opacity value as needed */
  z-index: -1; /* Move the pseudo-element below the content */
}

/* Navbar */
.auth-navbar {
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 2;
}

.auth-navbar .container {
  display: flex;
  align-items: center;
}

.auth-navbar-brand {
  font-size: 24px;
  color: var(--rich-black);
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.auth-navbar-brand img {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

.auth-navbar-links {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.auth-navbar-link {
  font-size: 18px;
  color: var(--rich-black);
  margin-left: 20px;
  text-decoration: none;
}

/* Auth Content */
.auth-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px); /* Subtracting navbar height */

}

.auth-form-container {
  width: 300px;
  margin: 20px;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.section {
  font-weight: bold;
}

.landing-content {
  font-size: 18px;
}

.landing-heading {
  font-size: 32px;
  font-weight: bold;
  margin-top: 20px;
}

.link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.link-item {
  font-size: 20px;
  color: var(--rich-black);
  margin: 0 5px;
  text-decoration: none;
  border: 2px solid var(--rich-black);
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  background-color: rgba(255, 255, 255, 0.05); /* Adjust the alpha value to control transparency */
}

.link-item:hover {
  background-color: var(--rich-black);
  color: var(--papaya-whip);
}

.recipe-list-container {
  padding: 20px; /* Adjust the padding value as needed */
}

.centered-h1 {
  margin-left: 300px;
}

.recipe-background {
  background-color: rgba(255, 255, 255, 0.05); /* Adjust the alpha value to control transparency */
}