.about-container {
    background: transparent;
    padding: 40px;
    margin-bottom: 40px;
  }
  
  .about-title {
    font-size: 32px;
    color: var(--rich-black);
    margin-bottom: 20px;
  }
  
  .about-description {
    font-size: 18px;
    color: var(--rich-black);
    margin-bottom: 20px;
    background-color: transparent; /* Adjust the alpha value to control transparency */
  }
  
  .about-subtitle {
    font-size: 26px; /* Font size for h3 subtitles */
    color: var(--rich-black);
    margin-bottom: 10px;
    background-color: transparent; /* Adjust the alpha value to control transparency */
  }
  
  
  .about-list {
    list-style-type: none; /* Remove bullet points from list items */
    padding-left: 0; /* Remove default padding from the list */
    background-color: transparent; /* Adjust the alpha value to control transparency */
  }

  
  .about-list li {
    margin-bottom: 5px; /* Add some spacing between list items */
    font-size: 18px;
    list-style: square inside;
  }